numpy==2.2.6
opencv-python==4.12.0.88
PyWavelets==1.9.0
scipy==1.16.3
matplotlib==3.10.8
fastapi==0.127.0
uvicorn==0.40.0
python-multipart==0.0.21
sqlalchemy==2.0.45
passlib[bcrypt]==1.7.4
cryptography==46.0.3
jinja2==3.1.6
Pillow==12.0.0
bcrypt==4.0.1
itsdangerous==2.2.0
python-dotenv==1.0.1
psycopg[binary]==3.2.4
